<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security= "http://www.springframework.org/schema/security"
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/security
     http://www.springframework.org/schema/security/spring-security.xsd">  
  
  
    <bean id="dataSource" class=" org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName"  value="org.h2.Driver"></property>  
        <property name="url" value="jdbc:h2:tcp://localhost/~/test"></property>  
        <property name="username" value="sa"></property>  
        <property name="password" value=""></property>  
    </bean>  
      
    <bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
          
        <property name="packagesToScan">  
        <list>  
        <value>com.dtproject</value>  
        </list>  
        </property>  
          
        <property name="hibernateProperties">  
            <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop> 
    <prop key="hibernate.show_sql">true</prop> 
    <prop key="hibernate.hbm2ddl.auto">update</prop>  
  </props> 
        </property>  
    </bean>  
      
   <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
   <property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  
  <security:http auto-config="true">
    <security:csrf disabled="true"/>
    <security:intercept-url pattern="/home*/**" access="permitAll"/>
    <security:intercept-url pattern="/register*/**" access="permitAll"/>
    <security:intercept-url pattern="/login" access="permitAll"/>
    <security:intercept-url pattern="/all/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
    <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
    <security:intercept-url pattern="/listProducts*/**" access="permitAll"/>
    <security:form-login
            login-page="/login"
            default-target-url="/"
            login-processing-url="/user_login"
            authentication-failure-url="/login?error"
            username-parameter="uName"
            password-parameter="password" />
        <security:logout
            logout-success-url="/login?logout" logout-url="/j_spring_security_logout"/>
    </security:http>
    
    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource"
                                        authorities-by-username-query="SELECT uName, role From user WHERE uName = ?"
                                        users-by-username-query="SELECT uName, password, enabled FROM user WHERE uName = ?" />
        </security:authentication-provider>
    </security:authentication-manager>
         
</beans>